<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gladiatus Simulator</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg-slate-200 leading-loose">
    <h1 class="text-4xl font-bold text-center">Gladiatus Simulator</h1>
	<div class="grid grid-cols-2 gap-4">

	<div id="attacker" class="container mx-auto text-center">
    <form action="/generate" method="POST">
        <h2 class="text-2xl font-bold">Attacker</h2>
        <label for="attacker_name">Name:</label>
        <input class="leading-relaxed" type="text" id="attacker_name" name="attacker_name" required><br>


		<label for="server_number">Server Number:</label>
        <select class="min-w-48 text-center bg-slate-400"id="server_number" name="server_number" required><br>
			<option value="50">Server 50</option>
			<option value="51">Server 51</option>
			<option value="52">Server 52</option>
			<option value="53">Server 53</option>
			<option value="54">Server 54</option>
			<option value="55">Server 55</option>
		</select><br>

        <label for="attacker_country">Country:</label>
        <select class="bg-slate-400 min-w-12 text-center" id="attacker_country" name="attacker_country" required><br>
			<option value="cz">cz</option>
		</select><br>
	</div>


	<div id="defender" class="container mx-auto text-center">
        <h2 class="text-2xl font-bold">Defender</h2>
        <label for="defender_name">Name:</label>
        <input class="leading-relaxed" type="text" id="defender_name" name="defender_name" required><br>


		<label for="server_number">Server Number:</label>
		<select class="min-w-48 text-center bg-slate-400" id="server_number" name="server_number" required><br>
			<option value="50">Server 50</option>
			<option value="51">Server 51</option>
			<option value="52">Server 52</option>
			<option value="53">Server 53</option>
			<option value="54">Server 54</option>
			<option value="55">Server 55</option>
		</select><br>

        <label for="defender_country">Country:</label>
		<select class="bg-slate-400 min-w-12 text-center" id="defender_country" name="defender_country" required><br>
			<option value="cz">cz</option>
		</select><br>
	</div>
	</div>

	<div id="misc" class="container mx-auto text-center">
	<div id="options" class="container mx-auto">
        <h2 class="text-2xl font-bold">Options</h2>
        <label for="life_mode">Life Mode:</label>
        <select class="bg-slate-400" id="life_mode" name="life_mode" required><br>
			<option value="current">current</option>
			<option value="full">full</option>
		</select><br>
	</div>
	<div id="button" class="container mx-auto ">
        <button class="text-slate-500 bg-slate-400 rounded py-2 px-4" type="submit">Simulate Battle</button>
	</div>
	</div>
    </form>
</body>
</html>

